<%= form_for @user do |f| %>

<div>
<%= f.label :user_name %>
<%= f.text_field :user_name %>
</div>
<br>
<div>
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<br>
<div>
  <%= f.label :about %>
  <%= f.text_field :about %>
</div>

<div>
  <%= f.submit%>
</div>
<% end %>
