<%= form_for @course do |f| %>

<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<br>
<div>
  <%= f.label :day, 'Day Course' %>
  <%= f.check_box :day %>
</div>

<div>
  <%= f.submit %>
</div>
<% end %>
