<!DOCTYPE html>
<html>
<head>
  <title>Week7Assessment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  <br>
  <%= link_to "Users Index Page", users_path %>
  <br>
  <%= link_to "Course Index Page", courses_path %>
<br>
<div>
  <% if current_user %>
  <% current_user.user_name %>
  <%= link_to "Sign Out", signout_path %>
  <% else %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Log In", signin_path %>
  <% end %>
</div>

  <%= yield %>

</body>
</html>
